#wrap_car{
	width: 100%;
	min-height: 100%;
	background: #fff;
}
#wrap_car .topTitle{
	width: 100%;
	height: .48rem;
	background: #b81c22;
	text-align: center;
	line-height: .48rem;
	color: #fff;
	font-size: .15rem;
	position: relative;
}
#wrap_car .topBack{
	top: 50%;
	left: .2rem;
	position: absolute;
	width: .14rem;
	height: .14rem;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	cursor: pointer;
	transform: translateY(-50%) rotate(45deg);
}
#wrap_car .others-content{
	width: 100%;
	height: 100%;
	background: #fff;
	margin-bottom: .425rem;
}
#wrap_car .shoppingCar-null{
	background: #fff;
	color: #4d4d4d;
	padding: .2rem .2rem;
}
#wrap_car .shoppingCar-null-pic{
	width: 100%;
	height: 2.44rem;
	border: 2px solid #d9d9d9;
}
#wrap_car .car-img{
	width: 1.5rem;
	height: .5669rem;
	margin: .85rem;
}
#wrap_car .car-img img{
	height: .5669rem;
	width: 1.5rem;
}
#wrap_car .car-p-btn{
	height: .36rem;
	background: #fff;
	margin-top: .1rem;
}
#wrap_car .shadow{
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 2px 3px #ececec;
}
#wrap_car .s-m-btn{
	width: 48%;
	height: 98%;
	text-align: center;
	line-height: .36rem;
	display: inline-block;
}
#wrap_car .s-m-btn:last-child{
	margin-left: 2%;
}

#wrap_car .login{
	width: 100%;
	padding: .35rem 0;
	text-align: center;
}
#wrap_car .login i{
	font-style: normal;
}
#wrap_car .user-info{
	background: #fff;
	width: 1.5702rem;
	height: .34rem;
	line-height: .34rem;
	margin-left: 28%;
	color: #4c4c4c;
	padding-bottom: .38rem;
}

#wrap_car .index_foot{
	width: 100%;
	height: 1.2rem;
	text-align: center;
}
#wrap_car .index_foot ul{
	display: inline-block;
	border-bottom: 1px solid #4c4d4d;
	border-top: 1px solid #4c4d4d;
	padding: .12rem 0;
	zoom: 1;
}
#wrap_car .index_foot li{
	float: left;
}
#wrap_car .index_foot img{
	width: .42rem;
	height: .6239rem;
	padding: 0 .1rem;
}
#wrap_car .nav_bottom h3{
	font-weight: normal;
	font-size: .12rem;
}
#wrap_car .nav_bottom{
	padding: .1rem 0;
}

/******* 底部 *******/
#wrap_car .footer{
	width: 100%;
	height: .52rem;
	position: fixed;
	z-index: 2;
	bottom: -.01rem;
	left: 0;
	background: #fff;
	border-top: 1px solid #999;
}
#wrap_car .footer a{
	display: inline-block;
	width: 19%;
	height: 100%;
	text-align: center;
}
#wrap_car .footer span{
	width: .36rem;
	height: .48rem;
	display: inline-block;
	background-image: url(../img/navBgimgNew.png);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: .36rem 5rem;
	-webkit-transform: transform(-50%, -50%);
	margin-top: .04rem;
}
#wrap_car .footer-home-active{
	background-position: 0rem 0rem;
}
#wrap_car .footer-search{
	background-position: 0rem -.5rem;
}
#wrap_car .footer-Tshirt{
	background-position: 0rem -1rem;
}
#wrap_car .footer-car{
	background-position: 0rem -4rem;
}
#wrap_car .footer-mine{
	background-position: 0rem -2rem;
}


