#wrap_cz{
	width: 100%;
	min-height: 100%;
	background: #fff;
}
#wrap_cz .topTitle{
	width: 100%;
	height: .48rem;
	background: #b81c22;
	text-align: center;
	line-height: .48rem;
	color: #fff;
	font-size: .16rem;
	position: relative;
}
#wrap_cz .topBack{
	top: 50%;
	left: .2rem;
	position: absolute;
	width: .14rem;
	height: .14rem;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	cursor: pointer;
	transform: translateY(-50%) rotate(45deg);
}
#wrap_cz .others-content{
	position: relative;
	top: 0rem;
	margin-bottom: .425rem;
	max-width: 640px;
	width: 100%;
	height: 100%;
	background: #fff;
}
#wrap_cz .paywrap{
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	background: #f8f8f8;
}
#wrap_cz .payNoticeImg{
	width: 100%;
	height: 2.28rem;
	background: url(../img/2017_10_17_22_1_10_7020_640x380.jpg) no-repeat;
	background-size: 100% 2.28rem;
}
#wrap_cz .payinfo{
	width: 100%;
	height: .5359rem;
	margin: .16rem 0 .16rem 0;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	line-height: .5359rem;
	color: #000;
}
#wrap_cz .remainmoney{
	color: #ca3222;
	font-size: .23rem;
	font-weight: bold;
	margin-left: 6%;
}
#wrap_cz .paymoney{
	padding: .075rem .14rem;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	background: #fff;
}
#wrap_cz .paymoney .paymoney-txt{
	font-size: .16rem;
	font-weight: bold;
	color: #ca3222;
	text-align: center;
}
#wrap_cz .activeline{
	color: #b81b22;
	border: 1px solid #b81b22;
}
#wrap_cz .onebox{
	margin: .075rem auto;
}
#wrap_cz .paymoney-item{
	width: 1.76rem;
	height: .52rem;
	vertical-align: middle;
	display: table;
}
#wrap_cz .paymoney-item a{
	display: table-cell;
	vertical-align: middle;
}
#wrap_cz .reduceMon, .addMon{
	display: block;
	width: .3959rem;
	height: .3239rem;
	font-weight: bolder;
	text-align: center;
	line-height: .3239rem;
	border-radius: 2px;
	margin: 0 .04rem;
	cursor: pointer;
	font-size: .3rem;
	font-weight: 100;
	color: #000;
	background-color: #e4e4e4;
}
#wrap_cz .paymoney-item #otherMon{
	width: .78rem;
	height: .3239rem;
	border: none;
	border-radius: 2px;
	font-size: inherit;
	text-align: center;
	background-color: #e4e4e4;
	line-height: .3239rem;
}
#wrap_cz .payment-rule{
	padding: 0 4%;
	color: #000;
}
#wrap_cz .paymethod{
	position: relative;
	margin: .075rem auto;
	padding: .065rem 4%;
}
#wrap_cz .zfb{
	position: absolute;
	width: .2159rem;
	height: .2159rem;
	background: url(../img/下载.png) no-repeat;
	display: block;
	background-size: .2159rem .2159rem;
	left: 27%;
	top: .05rem;
}
#wrap_cz .payscan{
	color: #000;
	font-size: .13rem;
	padding: .05rem 0;
	position: relative;
	text-align: center;
}
#wrap_cz .paybtn{
	display: block;
	width: 1.56rem;
	height: .3rem;
	margin: .09rem auto;
	text-align: center;
	line-height: .3rem;
	color: #fff;
	background-color: #ca3222;
	border-radius: 3px;
}
#wrap_cz .paybtn span{
	padding-left: .115rem;
	letter-spacing: .115rem;
	font-size: .14rem;
	font-weight: 700;
}
#wrap_cz .display-payrule a{
	display: inline-block;
	color: #b81b22;
}
#wrap_cz .display-payrule{
	margin: .2rem auto;
	text-align: center;
	font-size: .13rem;
}
#wrap_cz .display-payrule a span{
	content: "";
	width: 0;
	height: 0;
	display: inline-block;
	color: #b81b22;
	border-left: .05rem solid transparent;
	border-right: .05rem solid transparent;
	border-top: .08rem solid;
	margin-left: .05rem;
}
#wrap_cz .payrule{
	color: #000;
	padding: 0 4%;
	margin-bottom: .5rem;
	line-height: .15rem;
}
#wrap_cz .rule-item{
	font-size: .13rem;
	width: 100%;
	position: relative;
}
#wrap_cz .rule-item span{
	position: absolute;
	top: 0;
	left: 0;
	width: .15rem;
}
#wrap_cz .rule-item p{
	display: block;
	margin-left: 5%;
	line-height: .2rem;
}
/******** 底部 **********/
#wrap_cz .blank{
	width: 100%;
	height: .52rem;
}
.footer{
	width: 100%;
	height: .52rem;
	position: fixed;
	z-index: 2;
	bottom: -.01rem;
	left: 0;
	background: #fff;
	border-top: 1px solid #999;
}
.footer a{
	display: inline-block;
	width: 19%;
	height: 100%;
	text-align: center;
}
.footer span{
	width: .36rem;
	height: .48rem;
	display: inline-block;
	background-image: url(../img/navBgimgNew.png);
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: .36rem 5rem;
	-webkit-transform: transform(-50%, -50%);
	margin-top: .04rem;
}
.footer-home-active{
	background-position: 0rem -2.5rem;
}
.footer-search{
	background-position: 0rem -.5rem;
}
.footer-Tshirt{
	background-position: 0rem -1rem;
}
.footer-car{
	background-position: 0rem -1.5rem;
}
.footer-mine{
	background-position: 0rem -2rem;
}